<div class="top">
  <div class="header">
    <a href="#default" class="logo">Josue Vargas</a>
    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a href="#knowledge">Knowledge</a>
      <a href="#about">Contact</a>
    </div>
  </div>

  <div class="about-section">
    <h1>Full Stack Developer</h1>
    <h3>I characterize myself as a professional
      with leadership and proactive at work, responsible and punctual in project delivery.</h3>
  </div>
</div>

<div class="knowledge">
  <div class="section-title aos-init aos-animate" data-aos="fade-up">
    <h2>Skills &amp; Habilities</h2>
    <p>Knowledge</p>
  </div>
  <div class="grid-container">
    <div class="grid-item" *ngFor="let item of knowledges">
      <div style="height: 100%; float: left;">
        <div class="logos" style="background-image: url({{item.logo}});"></div>
      </div>
      <div style="height: 100%; padding-left: 10px;" class="skill">
        {{item.name}}
      </div>
    </div>
  </div>
</div>
