* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.light-mode {
  background-color: #e9e9e9 !important;
  color: rgb(0, 0, 0) !important;
  a {
    color: rgb(0, 0, 0) !important;
  }

  .navbar-toggler {
    color: rgb(0, 0, 0);
  }
}

.dark-mode {
  background-color: #000000 !important;
  color: #ffffff !important;
  a {
    color: #ffffff !important;
  }

  .navbar-toggler {
    color: white;
  }
}

.navbar-toggler {
  display: none;
}

.language-wrapper {
  float: right;
}

.language-wrapper {
  position: relative;

  ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    //margin:0 0.5rem;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.header {
  overflow: hidden;
  //background-color: #000000;
  //padding: 20px 40px;
}

////////////////////

.top {
  padding: 20px 200px;
}

@media screen and (max-width: 1200px) {
  .top {
    overflow: hidden;
    //background-color: #000000;
    padding: 20px 40px;
  }
}

@media (max-width: 992px) {
  .navbar-collapse.collapsing {
    // left: -65%;
    // transition: left 700ms ease-in-out;
    left: 100%;
    transform: translate(-100%, 0);
  }

  .navbar-collapse.show {
    //left: 0;
    // transition: left 700ms ease-in-out;
    left: 100%;
    transform: translate(-100%, 0);
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }

  .navbar-toggler {
    display: flex;
  }

  .header-2 {
    display: flex;
    justify-content: space-between;
  }

  .ul-style {
    padding: 0;
  }
}

.header a {
  float: left;
  //color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  margin: 0px 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  position: relative;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  padding: 12px 0px;
}

.header .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.header .nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.header-right {
  float: right;
}

.theme {
  cursor: pointer;
}

.theme:hover .icon-theme,
.theme .icon-filltheme {
  display: none;
}
.theme:hover .icon-filltheme {
  display: inline;
}

.iconsMovil {
  display: none;
}

.desktopTheme {
  display: inline;
}

////////////////

.about-section {
  padding: 50px 0px;
  text-align: start;

  h1 {
    font-size: 6vh;
    font-weight: bold;
  }

  h2 {
    padding-top: 3%;
    width: 50%;
  }
}

//////////////////////

.waves-container {
  padding: 0px 0px !important;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

.knowledge {
  padding: 30px 200px;
  background-color: white;
}

@media screen and (max-width: 1200px) {
  .knowledge {
    padding: 30px 40px;
  }
}

.section-title {
  p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: black;
  }
}

.grid-container {
  padding: 40px 0px;
  //max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 3.5rem;
}

.grid-item {
  background-color: rgb(243, 243, 243);
  color: rgb(250, 250, 250);
  padding: 1.3rem;
  height: 8rem;
  color: #000000;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  div {
    display: flex;
    align-items: center;
  }

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    top: -4px;
    //border: 1px solid #69696933;
    background-color: rgb(243, 243, 243);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
    transform: scale(1.1);
  }
}

@media (min-width: 500px) {
  .grid-item {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1350px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.logos {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
}

.skill {
  font-weight: bold !important;
  margin: auto;
}

//////////////////
///
* {
  margin: 0;
  padding: 0;
  // list-style: none;
  // text-decoration: none;
  box-sizing: border-box;
}

.social-media {
  position: fixed;
  width: 70px;
  margin-top: 80px;
  transition: all 0.4s linear;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
  top: 0px;
  li {
    height: 60px;
    position: relative;
  }

  ul li a {
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 0.4s linear;
  }

  li:nth-child(1) a {
    background: #e1306c;
  }
  li:nth-child(2) a {
    background: #2867b2;
  }
  li:nth-child(3) a {
    background: #333;
  }
  li:nth-child(4) a {
    background: #ff0000;
  }

  li a i {
    position: absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
  }

  ul li a span {
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  ul li a:hover {
    z-index: 1;
    width: 200px;
  }

  ul li:hover a span {
    padding-left: 30%;
    display: inline-block;
  }
}

@media screen and (max-width: 550px) {
  .social-media {
    width: 50px;
    margin-top: 30%;
    li {
      height: 50px;
      position: relative;
    }
    li a i {
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 17px;
    }
    ul li a {
      line-height: 60px;
      padding-left: 25%;
    }
    ul li a:hover {
      z-index: 1;
      width: 50px;
      background-color: gray;
      //display: none !important;
    }
    ul li:hover a span {
      //padding-left: 0%;
      display: none;
    }
  }
}
