<div id="page">
  <div class="top" id="home">
    <nav class="header">
      <div class="header-2">
        <a id="page" class="logo">Josue Vargas</a>
        <button
          class="navbar-toggler"
          data-target="#navbarCollapse"
          data-toggle="collapse"
          mat-icon-button
          color="accent"
          aria-label="Example icon button with a menu icon"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div
        class="header-right collapse navbar-collapse bg-dark"
        id="navbarCollapse"
      >
        <ul style="list-style: none" class="ul-style navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#knowledge">Knowledge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Proyects</a>
          </li>
        </ul>
        <a pRipple class="flex">
          <p-inputSwitch
            [(ngModel)]="themeSelection"
            (onChange)="changeTheme($event.checked)"
          ></p-inputSwitch>
        </a>
      </div>
    </nav>

    <div class="about-section">
      <h1>Full Stack Developer</h1>
      <h2>
        I characterize myself as a professional with leadership and proactive at
        work, responsible and punctual in project delivery.
      </h2>
    </div>
  </div>

  <div class="waves-container">
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
</div>

<div class="knowledge" id="knowledge">
  <div class="section-title aos-init aos-animate" data-aos="fade-up">
    <h2>Skills &amp; Habilities</h2>
    <p>Knowledge</p>
  </div>
  <div class="grid-container">
    <div class="grid-item" *ngFor="let item of knowledges">
      <div style="height: 100%; float: left">
        <div
          class="logos"
          [ngStyle]="{ 'background-image': 'url(' + item.logo + ')' }"
        ></div>
      </div>
      <div
        style="
          height: 100%;
          padding-left: 10px;
          text-transform: uppercase;
          letter-spacing: 2px;
        "
        class="skill"
      >
        {{ item.name }}
      </div>
    </div>
  </div>
</div>

<!-- <div class="language-wrapper">
<ul>
  <li style="    border-right-width: 2px;
  border-right-style: solid;"><a href="">EN</a></li>
  <li><a href="">ES</a></li>
</ul>()
</div> -->
()
<nav class="social-media">
  <ul>
    <li class="social-media-li">
      <a href="https://www.instagram.com/josuevargassosa/">
        <i class="pi pi-instagram"></i>
        <span>Instagram</span></a
      >
    </li>

    <li class="social-media-li">
      <a href="https://www.linkedin.com/in/josue-vargas-sosa">
        <i class="pi pi-linkedin"></i>
        <span>LinkedIn</span></a
      >
    </li>

    <li class="social-media-li">
      <a href="https://github.com/josuevargassosa">
        <i class="pi pi-github"></i>
        <span>Github</span></a
      >
    </li>
  </ul>
</nav>
